<app-header></app-header>
<div class="container mt-5">
    <h2>make and call function on button click</h2>
    <app-login></app-login>
    <button class="btn btn-primary" (click)="getName('Parmod', 'Saw')">Click</button>

    <h2 class="mt-4">Events</h2>
    <button class="btn btn-primary mb-3" (click)="getData('Parmod')">Click Me</button>

    <input type="text" class="mb-3 form-control w-25" #Onclick (click)="getData(Onclick.value)" placeholder="On click"
        value="On click get data">
    <input type="text" class="mb-3 form-control w-25" #OnBlur (blur)="getData(OnBlur.value)" placeholder="On Blur"
        value="On Blur get data">
    <input type="text" class="mb-3 form-control w-25" #OnKeyup (keyup)="getData(OnKeyup.value)" placeholder="On keyup"
        value="">
    <input type="text" class="mb-3 form-control w-25" #OnKeydown (keydown)="getData(OnKeydown.value)"
        placeholder="On Keydown" value="">
    <input type="text" class="mb-3 form-control w-25" #OnKeypress (keypress)="getData(OnKeypress.value)"
        placeholder="On Keypress" value="">

    <h4 (mouseover)="getData('On Mouseover Event')">On Mouseover Event</h4>
    <h4 (mouseout)="getData('On Mouseout Event')">On Mouseout Event</h4>
    <h4 (mousedown)="getData('On mousedown Event')">On mousedown Event</h4>
    <h4 (mousemove)="getData('On mousemove Event')">On mousemove Event</h4>
    <h4 (mousewheel)="getData('On mousewheel Event')">On mousewheel Event</h4>

    <h2 class="mt-4">Get Input Box Value and Display</h2>
    <input type="text" class="mb-3 form-control w-25" #onKeyupInput (keyup)="getInputValue(onKeyupInput.value)"
        placeholder="On Keyup">
    <input type="text" class="mb-3 form-control w-25" ngModel="displayInputValue" placeholder="On Keyup">
    <input type="text" class="mb-3 form-control w-25 d-inline-block" #onKeyupInput1 placeholder="On Click">
    <button class="btn btn-primary d-inline-block" (click)="getInputValue(onKeyupInput1.value)">Get input Value On
        Click</button>
    <p>Input text value is: {{displayInputValue}}</p>

    <h2 class="mt-4">counter with Angular</h2>
    <button class="btn btn-primary" (click)="counter('plus')">++</button>
    Count: {{count}}
    <button class="btn btn-primary" (click)="counter('minus')">--</button>

    <h2 class="heading mt-4">Basic Rule of style</h2>
    <Style>
        .heading {
            color: red;
        }
    </Style>

    <h2 class="mt-4">Property Binding Example</h2>
    with data Binding
    <input type="text" class="form-control mb-4" name="user-name" id="" value="{{userName}}" disabled="{{disable}}"
        readonly="{{readOnly}}" required="{{req}}">
    with Property Binding
    <input type="text" class="form-control mb-4" name="user-name" id="" [value]="userName" [disabled]="disable"
        [readOnly]="readOnly" [required]="req">
    <h2 class="mt-4">If Else Condition Example</h2>
    <p *ngIf="show; then ifCondition else elseCondition"></p>
    <ng-template #ifCondition>
        <h4>If Condition true</h4>
    </ng-template>
    <ng-template #elseCondition>
        <h4>else Condition true</h4>
    </ng-template>

    <h2 class="mt-4">Multiple condition or else if</h2>
    <ng-template [ngIf]="color==='red'">
        <h4 class="text-danger">Red Color</h4>
    </ng-template>
    <ng-template [ngIf]="color==='green'">
        <h4 class="text-success">Green Color</h4>
    </ng-template>
    <ng-template [ngIf]="color==='blue'">
        <h4 class="text-primary">Blue Color</h4>
    </ng-template>

    <h2 class="mt-4">Switch case</h2>
    <div [ngSwitch]="color2">
        <h4 *ngSwitchCase="'red'" class="text-danger">Red Color</h4>
        <h4 *ngSwitchCase="'blue'" class="text-primary">Blue Color</h4>
        <h4 *ngSwitchCase="'green'" class="text-success">Green color</h4>
        <h4 *ngSwitchCase="'yellow'" class="text-warning">Yellow Color</h4>
        <h4 *ngSwitchDefault>unknown Color</h4>
    </div>

    <h2 class="mt-4">For Loop | *ngFor</h2>
    <h4>Users Name</h4>
    <p *ngFor="let user of users">Name Is: {{user}}</p>
    <h4>Users Detail</h4>
    <div class="row">
        <div class="col" *ngFor="let detail of usersDetails">
            <div class="card p-3 mb-3 shadow">
                <div>Name: {{detail.name}}</div>
                <div>Phone: {{detail.phone}}</div>
                <div>Email: {{detail.email}}</div>
                <div>Address: {{detail.address}}</div>
            </div>
        </div>
    </div>
    <h2 class="mt-4">Nested Loop | *ngFor</h2>
    <div class="row">
        <div class="col" *ngFor="let detail of usersDetail">
            <div class="card p-3 mb-3 shadow">
                <div>Name: {{detail.name}}</div>
                <div>Phone: {{detail.phone}}</div>
                <div>Email: {{detail.email}}</div>
                <div>Address: {{detail.address}}</div>
                <h6 class="mt-2">social Account</h6>
                <ul class="mb-0 ps-3">
                    <li *ngFor="let social of detail.socialAccount">{{social}}</li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="mt-4 py-2 px-3" [style.color]="textColor" [style.backgroundColor]="bgColor"
        [style.border-radius]="bRadius">Style Binding | Dynamic Style</h2>
    <button class="btn btn-primary" (click)="changeColor()">Change Color</button>

    <h2 class="mt-4">Basic Form</h2>
    <form class="mb-4" #basicForm="ngForm" (ngSubmit)="getFormData(basicForm.value)">
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Name:</label>
            <input type="text" ngModel class="form-control" id="email" placeholder="User name" name="name">
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" ngModel class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" ngModel class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <ul *ngIf="formData.name">
        <li>{{formData.name}}</li>
        <li>{{formData.email}}</li>
        <li>{{formData.pswd}}</li>
    </ul>

    <h2 class="mt-4">Toggle Element | hide and show tag</h2>
    <button class="btn btn-primary" (click)="toggleFun()">Toggle </button>
    <h4 *ngIf="toggleProp">Toggle will work here</h4>

    <h2 class="mt-4">Ng Bootstrap</h2>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Simple">
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3 wolf
                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't
                heard of them accusamus labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3 wolf
                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't
                heard of them accusamus labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3 wolf
                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't
                heard of them accusamus labore sustainable VHS.
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <h2 class="mt-4">Todo list in angular</h2>
    <input type="text" name="" id="" placeholder="Enter List Name" #task class="form-control w-25 d-inline-block me-3">
    <button class="btn btn-primary" (click)="addList(task.value)">Add List</button>

    <!-- <table class="table table-bordered w-50 mt-4" *ngIf="todoList.length">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todoList; let id = index">
                <td>{{id}}</td>
                <td>{{item.name}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="removeList(id)">Delete</button></td>
            </tr>
        </tbody>
    </table> -->
    <table class="table table-bordered w-50 mt-4" *ngIf="todoList.length">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todoList; let id = index">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="removeList(item.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <h2 class="mt-4">Pass Data child to component</h2>
    <div class="container">
        <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary mt-4 me-4" (click)="onChangeFirst()">Change First Element</button>
                <button class="btn btn-primary mt-4" (click)="onDestroyFirst()">Destroy First Element</button>
                <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement"
                    [name]="serverElement.name">

                    <p class="m-0" #contentParagraph>
                        <strong *ngIf="serverElement.type === 'server'"
                            class="text-danger">{{serverElement.content}}</strong>
                        <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
                    </p>
                </app-server-element>
            </div>
        </div>
    </div>
    <h2 class="mt-4">Basic of Pipes in angular</h2>
    <h2 class="mt-3">{{ pageTitle | uppercase}}</h2>
    <h2 class="mt-3">{{ pageTitle | lowercase}}</h2>
    <h2 class="mt-3">{{ TodayDate | date }}</h2>
    <h2 class="mt-3">{{ TodayDate | date : 'fullDate' }}</h2>
    <h2 class="mt-3">{{ TodayDate | date : 'dd/MM/YYYY' }}</h2>
    <h2 class="mt-3">{{ TodayDate | date : 'HH:mm:ss' }}</h2>

    <h2 class="mt-5">Advance Pipes</h2>
    <h2 class="mt-3">{{ pageTitle | slice : 9 : 13 | uppercase }}</h2>
    <h2 class="mt-3">{{ 30000.34554 | number : '0.1-1'}}</h2>
    <h2 class="mt-3">{{ 20 | currency : 'INR'}}</h2>
    <h2 class="mt-3">{{ usersList | json}}</h2>

    <h2 class="mt-5">Custom Pipes</h2>
    <h2 class="mt-3">{{ 20 | currencyConverter : 63}}</h2>

    <h2 class="mt-4">ngFor and ngIf Recap</h2>
    <h2 class="mt-4">ngClass and ngStyle Recap</h2>
    <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Odd Even Toggle</button>
    <ul class="list-group" *ngIf="onlyOdd">
        ` <li *ngFor="let odd of oddNumber" class="list-group-item" [ngClass]="{'text-danger' : odd % 2 !== 0}" [ngStyle]="{background: odd % 2 !== 0 ? 'yellow' : 'blue'}">{{ odd
            }}
        </li>
    </ul>
    <ul class="list-group" *appUnless="onlyOdd">
        ` <li *ngFor="let even of evenNumber" class="list-group-item" [ngClass]="{'text-white' : even % 2 == 0}" [ngStyle]="{background: even % 2 !== 0 ? 'yellow' : 'blue'}">{{
            even }}</li>
    </ul>
    <!-- <ul class="list-group" *ngIf="!onlyOdd">
        ` <li *ngFor="let even of evenNumber" class="list-group-item" [ngClass]="{'text-white' : even % 2 == 0}" [ngStyle]="{background: even % 2 !== 0 ? 'yellow' : 'blue'}">{{
            even }}</li>
    </ul> -->

    <h2 class="mt-4" appBasicHighlight>Creating Basic Directive</h2>

    <h2 class="mt-4" [appBetterHighlight]="'red'" defaultColor="yellow">Creating Better Directive2</h2>
    <!-- <h2 class="mt-4" [highlightColor]="'red'" [defaultColor]="'blue'" >Creating Better Directive</h2> -->

</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2 class="mt-4">Services</h2>
        <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
        <hr>
        <app-account
          *ngFor="let acc of accounts; let i = index"
          [account]="acc"
          [id]="i"
          (statusChanged)="onStatusChanged($event)"></app-account>
      </div>
    </div>
  </div>